mark.iwgmark {
    padding: 3px 10px 3px 10px;
    border-radius:2px;
    text-transform: uppercase;
    font-weight:bold;
}

mark.iwgsubscribed {
    background:#3789e2;
    color:#fff;

}
mark.iwgunsubscribed {
    background: red;
    color:#fff;
}

mark.iwgsmssent {
    background: green;
    color:#fff;
}

mark.iwgpurchased {
    background: orange;
    color: #fff;
}

mark.iwg_smsnotsent {
    background:#f83030;
    color:#fff;
}

#inwpnotifier_spsettings .form-table {
    background:#fff;

}
#inwpnotifier_spsettings .form-table th, #inwpnotifier_spsettings .form-table td {
    padding:10px;
}
table.wp-list-table .column-total_subscribers {
    width:10%;
}

