
.inwpnotifier_email_switch {
    position: relative;
    display: inline-block;
    width: 46px;
    height: 27px;
}

.inwpnotifier_email_switch .inwpnotifier_email_toggle {
    opacity: 0;
    width: 0;
    height: 0;
}

.inwpnotifier_slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #F05025;
    -webkit-transition: .4s;
    transition: .4s;
}

.inwpnotifier_slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

.inwpnotifier_email_toggle:checked + .inwpnotifier_slider {
    background-color: #4CAF50;
}

.inwpnotifier_email_toggle:focus + .inwpnotifier_slider {
    box-shadow: 0 0 1px #4CAF50;
}

.inwpnotifier_email_toggle:checked + .inwpnotifier_slider:before {
    -webkit-transform: translateX(19px);
    -ms-transform: translateX(19px);
    transform: translateX(19px);
}

/* Rounded sliders */
.inwpnotifier_slider.inwpnotifier_slider_round {
    border-radius: 34px;
}

.inwpnotifier_slider.inwpnotifier_slider_round:before {
    border-radius: 50%;
}
.inwpnotifier_line_break{

    border-top:1px solid #f05025;
    border-bottom:1px solid #f05025;
}
.inwpnotifier_ON_OFF_Settings{

    margin-left: 10px;
}